<!-- Set Villain -->
 <ng-container *ngIf="shared.villains.length > 0">
    <ng-container  *ngIf="!shared.settingsReady">
        <h5 class="normalText">Select Encounter</h5>
        <dx-select-box
            [items]="shared.villains"
            displayExpr="text"
            valueExpr="card_set_code"
            [searchEnabled]="true"
            [searchMode]="'contains'"
            (onValueChanged)="selectVillain($event.value)">
        </dx-select-box> 
    </ng-container>

    <ng-container *ngIf="villain != undefined">
        <!-- Villain Phase -->
        <dx-tabs 
            [dataSource]="villain.villain_phases"
            keyExpr="code"
            displayExpr="stage"
            (onItemClick)="selectPhase($event.itemData)">
        </dx-tabs>
        <ng-container *ngIf="villainPhase != undefined">
            <div class="row" style="margin-top: 2rem;">
                <!-- Villain HP -->
                <div class="col">
                    <h4 class="normalText">{{villain.text}}</h4>
                    <h5 class="normalText">{{villainPhase.currentHP}} / {{villainPhase.maxHP}} HP</h5>
                    <div *ngIf="shared.settingsReady">
                        <dx-button style="margin-top: 1rem;" (onClick)="updateHP(1)" icon="minus"> </dx-button>
                        <dx-button style="margin-top: 1rem;" (onClick)="updateHP(-1)" icon="plus"> </dx-button>                    
                    </div>
                    <table>
                        <tr *ngFor="let row of lifePointsUI;">
                            <td *ngFor="let circle of row">
                                <div class="circleBg">
                                    <div [ngClass]="{
                                        hpCenter:circle.state == true,
                                        hpOverflow: (villainPhase.currentHP > villainPhase.maxHP) && circle.index > villainPhase.maxHP
                                    }"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- Main Scheme -->
                <div class="col">
                    <h4 class="normalText">{{villain.main_scheme[schemePhase].name}} </h4>
                    <h5 *ngIf="accelToken == 0"class="normalText">{{currentScheme}} / {{villain.main_scheme[schemePhase].maxEnd}}</h5>
                    <h5 *ngIf="accelToken != 0"class="normalText">{{currentScheme}} / {{villain.main_scheme[schemePhase].maxEnd}} (Accelerations Tokens: {{accelToken}}) </h5>
                    <div *ngIf="shared.settingsReady">
                        <dx-button style="margin-top: 1rem;" (onClick)="advancePhaseOne()" text="Phase 1"> </dx-button>
                        <dx-button style="margin-top: 1rem;" (onClick)="updateMainScheme(1)" icon="minus"> </dx-button>
                        <dx-button style="margin-top: 1rem;" (onClick)="updateMainScheme(-1)" icon="plus"> </dx-button>
                        <dx-button style="margin-top: 1rem;" (onClick)="acceleratePlan()" text="Accelerate"> </dx-button>
                        <dx-button style="margin-top: 1rem;" 
                        *ngIf="
                        (currentScheme >= villain.main_scheme[schemePhase].maxEnd)" 
                            (onClick)="setMainSchemeUI(schemePhase + 1)" icon="greater"> 
                        </dx-button>
                    </div>
                    <table>
                        <tr *ngFor="let row of mainSchemeUI">
                            <td *ngFor="let circle of row; index as i">
                                <div class="circleBg">
                                    <div [ngClass]="{
                                        schemeCenter:circle.state == true, 
                                        schemeToAdvance:circle.state == false && villain.main_scheme[schemePhase].toAdvance >= circle.index
                                    }"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            
            <div class="row" style="margin-top: 2rem;">
                <div class="col">
                    <!-- Side Schemes -->
                    <ng-container *ngFor="let plan of plansInPlay">
                        <div class="schemeDiv">
                            <h5 class="normalText"> {{plan.name}} </h5>
                            <h5 class="normalText">{{plan.current}} / {{plan.end}} </h5>
                            <div>
                                <dx-button style="margin-top: 1rem;" *ngIf="shared.settingsReady" (onClick)="updateSideScheme(1, plan)" icon="minus"> </dx-button>
                                <dx-button style="margin-top: 1rem;" *ngIf="shared.settingsReady" (onClick)="updateSideScheme(-1, plan)" icon="plus"> </dx-button>
                                <dx-button style="margin-top: 1rem;" *ngIf="plan.current == 0 || !shared.settingsReady"  (onClick)="removeSideScheme(plan.code)" icon="remove"> </dx-button>
                            </div>
                            <table>
                                <tr *ngFor="let row of plan.planUI;">
                                    <td *ngFor="let circle of row">
                                        <div class="circleBg">
                                            <div [ngClass]="{
                                                schemeCenter:circle.state == true,
                                                schemeOverflow: (plan.current > plan.end) && circle.index > plan.end
                                            }"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </ng-container>
                </div>
                <div class="col-3">
                    <!-- Set Modular Sets -->
                    <div *ngIf="!shared.settingsReady">
                        <h5 class="normalText">Select Modular Sets</h5>
                        <dx-tag-box
                            [dataSource]="shared.modularSets"
                            valueExpr="card_set_code"
                            displayExpr="text"
                            applyValueMode="useButtons"
                            [multiline]="true"
                            [searchEnabled]="true"
                            [showSelectionControls]="true" 
                            (onValueChanged)="selectScheme($event)">
                        </dx-tag-box>
                    </div>
                    <!-- Put scheme on play -->
                    <h5 class="normalText">Put scheme on Play</h5>
                    <dx-tag-box
                        [dataSource]="planList"
                        displayExpr="name"
                        valueExpr="code"
                        applyValueMode="useButtons"
                        [multiline]="true"
                        [searchEnabled]="true"
                        [searchMode]="'contains'"
                        [showSelectionControls]="true" 
                        tagTemplate="customTag"
                        [hideSelectedItems]="true"
                        (onValueChanged)="putSideSchemeInPlay($event)">
                        <div *dxTemplate="let product of 'customTag'">
                            <div [ngClass]="{ 'dx-tag-content': true, 'disabled-tag': true}">
                            <span>{{product.name}}</span>
                            </div>
                        </div>
                    </dx-tag-box>

                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>