/* You can add global styles to this file, and also import other style files */

.circleBg {
    display: flex;
    background-color: #000;
    width: 20px;
    height: 20px;
    border-radius: 2rem;
}

.hpCenter {
    background-color: #ff0000;
    width: 75%;
    height: 75%;
    border-radius: 2rem;
    margin-left: 12%;
    margin-top: 12%;
}

.hpOverflow {
    background-color: #a00000;
    width: 75%;
    height: 75%;
    border-radius: 2rem;
    margin-left: 13%;
    margin-top: 12%;
}

.schemeCenter {
    background-color: #ffdd00;
    width: 75%;
    height: 75%;
    border-radius: 2rem;
    margin-left: 13%;
    margin-top: 12%;
}

.schemeToAdvance {
    background-color: #7a6a00;
    width: 75%;
    height: 75%;
    border-radius: 2rem;
    margin-left: 13%;
    margin-top: 12%;
}

.schemeOverflow {
    background-color: #cb8300;
    width: 75%;
    height: 75%;
    border-radius: 2rem;
    margin-left: 13%;
    margin-top: 12%;
}

.boton {
    height: 30px;
    width: 60px;
}

.schemeDiv {
    margin-top: 1rem;
}